* {
    box-sizing: border-box;
  }
html {
    margin: 0;
    min-height: 100%;
}
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
.pageLayouts
{
    display: flex;
    flex-direction: column;
}
.Headercontainer {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: fixed;
    top: 0;
    left:0;
    z-index: 9;
  }
.leftContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 16em;
}
.logoContainer {
    margin: 0.7em 0 0.7em 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 8.8em;
    text-decoration: none;
}
.logoImageContainer{
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}
.logoImage{
    width: 4.5em;
}
.logoText{
    color: white;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-family: "roboto";
    margin: 0 0 0 0.5vw;
}
.headerTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText {
    position: relative;
    color: #E5E7EB;
    size: 18px;
    width: 27em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5vw;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
a:visited {
    color: #E5E7EB;
}

.box1{
    width: 100%;
    border: black;
    border-width: 10px;
    height: 400px;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    z-index: 8;
    gap: 200px;
    left: 0;
}
.box1left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 16em;
}
.box1left.bold{
    color: white;
    margin-bottom: 0;
    margin-top: 40px;
    width: 250px
}
.box1left.text{
    color: white;
    margin-top: 0;
}
.box1right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1Image{
    width: 500px;
    height: 250px;
}

.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    size: auto;
    text-align: center;
    color: white;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-family: "roboto";
    /* Height of the footer*/ 
    height: 50px;
    background: #1F2937;
  }